@media only screen and (min-width: 6px)
{
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #C8B6FF; 
}

header {
    background-color: #430043; 
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    background-color: #430043; 
    color: #ffffff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.rope-index {display:none;}
.rope-about {display:none;}
.header{width:100%;}
.square-container {
    width: 100%;
    height: 450px;
    background-color: #5e548e;}
.navigation{display:none;}
.tall-box {
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    height: 20%;
    background-color: #4b0082; 
    overflow-y: auto;
    z-index: 1;
    padding: 20px;
  }
  .tall-box p {
    margin: 0; /* Remove default margins for paragraphs */
    font-size: 10px; /* Adjust font size */
    line-height: 1.5; /* Adjust line height */
    color: white; /* Set text color to white */}
.contact-box {float: left;width: 95%;margin-bottom: 20px;}

@media only screen and (min-width: 600px) {
    .contact-box {float: right; margin-right: 10px; width: 45%;margin-bottom: 20px;background-color:purple;}
    .rope-index {
        display: block;
        width: 50%;
    }
    .rope-about{display:block}

    .square-container {
        width: 60%;
    }

    .navigation {
        display: inline;
    }

    .highlighted-text {
        background-color: #5e548e;
        padding: 5px;
        border-radius: 5px;
        display: inline;
        margin-left: 200px;
    }
.tall-box {
    display: none;}
.tall-box p{display:none;}
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-image {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    max-width: 100%;
    margin-bottom: 10px; 
}
ul li {
    display: inline;
    margin-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}
table {
    bgcolor: #FFA500;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
}
.rope-type {
    width: 48%;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.rope-type img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.highlighted-text {
    display: inline-flex;
    align-items: center;
    height: 5%;
}



.content {
    margin-bottom: 50px;
}

.content img {
    margin: 10px;
}
.container.content {
    clear: both;
    margin-top: 20px;
    padding-bottom: 100px;
    overflow: hidden;
width:90%;}
}

        
